<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lamoi - Ollama on UI</title>
    <link rel="stylesheet" href="<%= assetPath(`/public/application.css`) %>">

    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
</head>
<body class="h-full flex flex-row min-h-full relative" hx-get="/ollama/status" hx-trigger="load, every 5s" hx-swap="beforeend">
    <div class="flex flex-row w-full h-full">
        <aside class="w-[300px] bg-gray-50 flex flex-col py-3">
            <div class="flex flex-row justify-between px-6 items-center">
                <a href="/">
                    <img src="<%= assetPath(`/public/logo.png`) %>" alt="Lamoi Logo" class="h-8">
                </a>
            </div>

            <div hx-get="/conversations/" hx-trigger="load" hx-swap="outerHTML"></div>
        </aside>
        <section class="flex flex-col gap-4 w-full" >
            <header class="flex flex-row justify-between px-8 pt-3 border-b pb-2 -mb-4">
                <span class="flex items-center" id="conversationName" >
                    <%= if (conversation.Name != "") { %>
                        <%= partial("conversations/name.html", {
                            Name: conversation.Name,
                            ID: conversation.ID,
                            Model: conversation.Model,
                        }) %>

                    <% } else { %>
                        <div hx-get="/ollama/models" hx-trigger="load" hx-swap="outerHTML"></div>
                    <% } %>
                </span>

                <div id="ollamaStatus"></div>
            </header >

            <main class="overflow-scroll flex flex-col gap-5 flex-grow">
                <%= yield %>
            </main>
        </section>
    </div>
</body>
</html>
